# ltspice building
*.net
*.log
*.raw

# latex building
*.bcf*
*.bbl
*.aux
*.lot
*.out
*.lof
*.fls
*.run*
*.synctex*
*.toc
*.fdb_latexmk
*.blg

# jupyter container
.cache*
.ipy*
.local*
.jupyter*
